@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Ysabeau:wght@300&display=swap');


:root {
  --main-bg: #FFFDF9;
  --outlines: #392B0B;
  --range-thumb-b: #E5E7EB;
}

html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg);
  color: var(--main-bg);
  font-size: 16px;
  font-family: Ysabeau, sans-serif;
}

.main {
  align-items: center;
  background: var(--outlines);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  width: 80%;
}

h1 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

.grid {
  margin: 4% 0;
  height: 300px;
  width: 90%;
  border-radius: 5px;
  background: var(--main-bg);
  display: grid;
}

.controls {
  font-size: 0.9rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#grid-count {
  font-size: 1.4rem;
}

.range-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 75%;
}

input[type="range"]::-moz-range-track {
  height: 0.5rem;
  background: var(--main-bg);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.5rem;
  background: var(--main-bg);
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 0.1rem solid var(--main-bg);
  background: var(--outlines);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 0.1rem solid var(--range-thumb-b);
  background: var(--outlines);
  margin-top: -1px;
}



#color, #clear {
  font-size: 0.7rem;
  background: var(--main-bg);
  border-radius: 50%;
  color: var(--outlines);
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
}



.outer-cont {
  width: 100%;
}


@media screen and (min-width: 800px) and (orientation: landscape) {
  .grid {
    height:  200px;
    margin: 1% 0;
  }

  .main {
    padding: 2%;
    width: 60%;
  }
}
